.dashDetails {
    display: flex;
    gap: 80px;
    justify-content: center;
    margin-top: 8%;
    margin-left: 10%;
}

.total {
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    width: 260px;
    height: 210px;
}

.total p {
    font-size: 50px;
    color: white;
}
.total h2{
    font-size: 25px;
    color: #20ff20;
}